#title{
    -fx-font-size: 30px;
}

.subTitle, .notifTitle{
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}

#save, #modify{
    -fx-text-fill: blue;
}

#delete{
    -fx-text-fill: red;
}

.notifText{
    -fx-text-fill: rgb(128, 128, 128);
}

.active{
    -fx-border-style: solid;
    -fx-background-color: orange;
}
