/* Background Chat */
.background{
    -fx-background-image: url("./img/Background_Chat.png");
}

.all{
    
    -fx-background-image: url('./img/Background_Chat_2.png');
}

.bCreate{
    -fx-background-image: url('./img/Blur.png');
}

.bConcours{
    -fx-background-image: url('./img/blur_mesconcours.png');
    -fx-background-position: 50% 0%;
}